.nav {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  background: #ce8888;
  height: auto;
  margin: 30px;
  padding: 10px;
  border-style: solid; 
}

.nav2 {
  display: flex;
  margin: auto;
  padding-top: 1.2vw;
  padding-bottom: 1.2vw;
  align-items: center;
  justify-items: center;
  font-size: 2.2vw;
  font-family: sans-serif;
}

.nav3 {
  display: flex;
  background: none;
  margin: auto;
  align-items: center;
  justify-items: center;
  transform: scale(3.2);
  cursor: pointer;
}

.nav4 {
  cursor: pointer;
}

.wrapper {
  display: grid;
  grid-gap: 0vw;
  grid-template-columns: 23% 12% 30% 12% 23%;
  grid-template-rows: 100%;
}

.options {
  display: grid;
  grid-template-rows: 50% 50%;
  width: 10vw;
}

.playerToggle {
  margin: auto;]
  display: flex;
  padding: 1vw;
  align-items: center;
  font-size: 2vw;
  font-family: sans-serif;
  border: 3px solid black;
  transition: 0.2s;
}

.gameGrid {
  background-color: black;
  color: white;
  border: 1px solid black;
  margin: auto;
  display: grid;
  Width: 30vw;
  height: 30vw;
  grid-template-columns: 33% 33% 33%;
  Grid-template-rows: 33% 33% 33%;
  align-content: center;
  justify-content: center;
}

.gameBox {
  font-family: 'Quicksand', sans-serif;
  font-size: 10vw;
  color: black;
  background-color: white;
  border: 2px solid black;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
  transition: 0.2s;
}

.greyHover:hover {
  background-color: #C7C7C7;
}

.redHover:hover {
  background-color: #FF5050;
}
